/*parametros globales*/

:root{
    --primario: rgba(73, 7, 7, 0.596);
    --secundario: rgb(201, 133, 8);
    --blanco: white;
    --negro: black;

    --fuenteParrafos:'Poppins', sans-serif;
    --funeteTitulo: 'Lora', serif;;

}

/* parametros html y body*/

html{
    box-sizing: border-box; /*padding no afecte los elementos del html*/
    font-size: 62.5%;/*1 rem = 10px*/
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.8rem;
    line-height: 2 /*separacion de textos*/;
}


/*parametros globales de elemento*/
h1, h2, h3, h5{
    font-family: var(--funeteTitulos);
    color: var(--blanco);
    -webkit-text-stroke:1px var(--negro);
    line-height: 1.2;
    
}

a{
    text-decoration: none;
}
/*tamaño de los textos*/
h1{font-size: 4.8rem;}
h2{font-size: 3.0rem;}
h3{font-size: 2.4rem;}
h4{font-size: 1.6rem;}
/*----------------------*/
img{
    width: 100%;
    margin-bottom: 2rem;
}

/*utilidades de nuestras clases*/
.contenedor{
    width: min(90%,120rem);
    margin: 0 auto;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.center-text{
    text-align: center;
}

/*header*/

header{
    /*imagen de fondo*/
    background-image: url(../img-cafe/nathan.jpg);
    height: 60rem;
    background-size: cover;
    background-position: center center ;
    background-repeat: no-repeat;
}

.barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacion{
    display: flex;
    gap: 1.5rem;
}

.navegacion-enlaces{
    color: var(--blanco);
    font-weight: 800;
}

.texto-header{
    text-align: center;
    color: var(--blanco);
    margin-top: 15rem;
}

.letra-boid{
    font-weight: 800;
}

.footer{
    background-color: var(--negro);
    padding: 2.5rem 0;
}

.imgBlog{
    width: 60rem;
    aspect-ratio: 16/9;/*16 columnas, 9 filas*/
}   

.textBlog{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}
.boton{
    display: inline-block;
    background-color: var(--negro);
    color: var(--blanco);
    font-size: 2.0rem;
    padding: 1rem 3rem;
    font-weight: 700;
    
}

.boton-secundario{
    background-color: var(--primario);
}

li{
    list-style: none;
}

.text-curso{
    font-weight: 100;
    font-size: 2rem;
}

.contenedor-main{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 4rem;
}

.sidebar{
    margin: 2rem;
}